<div
  class="edit-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="edit-card">
    <mat-card-header>
      <mat-card-title>Edit Text Resource</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <form
        [formGroup]="editForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tags separated by space</mat-label>
          <input matInput formControlName="tags" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Text</mat-label>
          <textarea matInput formControlName="content"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmitSave()">
        Save changes
      </button>
      <button mat-raised-button color="primary" (click)="onSubmitDelete()">
        Delete resource
      </button>
    </mat-card-actions>
  </mat-card>
</div>