.edit-card {
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

.edit-card-container {
    min-height: 60%;
}


mat-card-title {
    font-size: xx-large;
    margin-bottom: 16px;
}

textarea {
    min-height: 120px;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

mat-card-actions button {
    margin-top: 10px;
}