<div
  class="remind-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="remind-card">
    <mat-card-header>
      <mat-card-title>Remind password</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <form
        [formGroup]="remindForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Send email
      </button>
    </mat-card-actions>
  </mat-card>
</div>