.remind-card {
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}


.remind-card-container {
    min-height: 60%;
}


mat-card-title {
    font-size: xx-large;
    margin-bottom: 16px;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}