<div class="container">
    <h1>This application allows the user to manage their text resources and share them with others via a view-only link</h1>
    <h2>Login or register to add your own notes, shopping lists or whatever texts you want!</h2>
  
    <div class="button-container">
      <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">Login</button>
      <button mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">Register</button>
    </div>
  </div>

